@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, p,img {
	max-width: 1600px
} center,  ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section,

/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, 
header, hgroup, menu, nav, section { display: block; } 


a:link {
	color: #0b4474;
    cursor: pointer;
    line-height: normal;
    display: inline-block;
 }

/* mouse over link */
a:hover { 
	color: #4682B4; 
	cursor: pointer; 
}

/* visited link */
a:visited {
 	color: grey;
}

/* selected link */
a:active {
  	color: #f5fffa;
}

.stickyheader {
  	width:1500px;
  	height:60px;
	padding-top:5px;
	position: sticky;    /*Here's what sticks it*/
	top: 0;          /*to the bottom of the window*/
	left:0;            /*and to the left of the window.*/
	background-color: #d3d3d3;
	color:white;
	text-align: center;
	z-index: 8;
}

/*
.header {
	width: 1500px;
	height: 90px;
	float: left;
	margin-top: 0px;
	background: #FFF;
}
*/



#containerh {
	width: 1500px;
	height: 840px;
	background: #8b3b39; 
}


#timelineh {
	width: 1500px;
	height: 50px;
	float: left;
	background: #8b3b39;
	text-align: center;
	}



#poemboxh{
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 200px;
	margin-left: 300px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #8b3b39;
	border: solid;
	border-color: #fdc5c5;
}

#imgholderh{
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 200px;
	margin-left: 200px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #8b3b39;
}


#containerb {
	width: 1500px;
	height: 840px;
	background: #07341a; 
}


#timelineb {
	width: 1500px;
	height: 50px;
	float: left;
	background: #07341a;
	text-align: center;
	}



#poemboxb {
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 200px;
	margin-left: 300px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #07341a;
	border: solid;
	border-color: #fff6a8;
}

#imgholderb {
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 200px;
	margin-left: 200px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #07341a;
}

#containers {
	width: 1500px;
	height: 840px;
	background: #171749; 
}


#timelines {
	width: 1500px;
	height: 50px;
	float: left;
	background: #171749;
	text-align: center;
	}



#poemboxs{
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 200px;
	margin-left: 300px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #171749;
	border: solid;
	border-color: #bbf9f9;
}

#imgholders{
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 100px;
	margin-left: 250px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #171749;
}

